.services-section {
    margin: 100px 0;
}

.services-title-box {
    background-color: #003C6A;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.services-title {
    text-align: center;
    font-size: 3rem;
    font-family: "Alatsi", sans-serif;
    color: #fff;
}

.services-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}